CoreService/US_42_OwnedAccountList/CompiledOwnedAccountListRes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://service.bni.co.id/core/bo"
	xmlns:bons0="http://service.bni.co.id/core/list">
	<xsd:import schemaLocation="ShortAccountInfo.xsd"
		namespace="http://service.bni.co.id/core/list">
	</xsd:import>
	<xsd:complexType name="CompiledOwnedAccountListRes">
		<xsd:all>
			<xsd:element minOccurs="0" name="cifNum"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="cifName"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="shortAccountInfo"
				type="bons0:ShortAccountInfo" maxOccurs="unbounded">
			</xsd:element>
		</xsd:all>
	</xsd:complexType>
</xsd:schema>
