CoreService/US_101_DepositOverdraftInquiry/DepositOverdraftInquiryReq.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://service.bni.co.id/core/bo">
	<xsd:complexType name="DepositOverdraftInquiryReq">
		<xsd:all>
			<xsd:element minOccurs="0" type="xsd:integer" name="accountNumber"/>
			<xsd:element minOccurs="0" type="xsd:string" name="optionType"/>
			<xsd:element minOccurs="0" type="xsd:string" name="recordDate"/>
		</xsd:all>
	</xsd:complexType>
</xsd:schema>