ReSTAPI/12_DepositAccountExternalTransfer/ResponsePayInterBank.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:bons1="http://service.bni.co.id/switcher_v2/atmbersama"
	targetNamespace="http://service.bni.co.id/switcher_v2/atmbersama">
	<xsd:include schemaLocation="PayInterBankRes.xsd" />
	<xsd:complexType name="ResponsePayInterBank">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="clientId"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="reffNum"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="provider"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="content"
				type="bons1:PayInterBankRes">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
