CoreService/US_26_OpenDepositAccountList/CompiledOpenDepositAccountListRes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://service.bni.co.id/core/bo"
	xmlns:bons0="http://service.bni.co.id/core/list">
	<xsd:import schemaLocation="OpenDepositAccountInfo.xsd"
		namespace="http://service.bni.co.id/core/list">
	</xsd:import>
	<xsd:complexType name="CompiledOpenDepositAccountListRes">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="cifNum"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="customerName"
				type="xsd:string">	
			</xsd:element>
			<xsd:element minOccurs="0" name="keyPerson"
				type="xsd:string">	
			</xsd:element>
			<xsd:element minOccurs="0" name="noDIN"
				type="xsd:string">	
			</xsd:element>
			<xsd:element minOccurs="0" name="noHP"
				type="xsd:string">	
			</xsd:element>
			<xsd:element minOccurs="0" name="OpenDepositAccountInfo"
				type="bons0:OpenDepositAccountInfo" maxOccurs="unbounded">
			</xsd:element>
			<xsd:element minOccurs="0" name="curr1"
				type="xsd:string">	
			</xsd:element>	
			<xsd:element minOccurs="0" name="totBalance"
				type="xsd:string">	
			</xsd:element>			
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
