CoreService/US_71_InquiryCheque/InquiryChequeReq.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://service.bni.co.id/core/bo"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:complexType name="InquiryChequeReq">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="accountNo"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="chequePrefix"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="chequeFirstNo"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="status"
				type="xsd:string">
			</xsd:element>

		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>