CoreService/US_68_InitCreateVirtualAccount/InitCreateVirtualAccountReq.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://service.bni.co.id/core/bo">
	<xsd:complexType  name="InitCreateVirtualAccountReq" >
		<xsd:all>
			<xsd:element  minOccurs="0"  name="virtualAccountType"  type="xsd:string" />
			<xsd:element  minOccurs="0"  name="companyCode"  type="xsd:string" />
			<xsd:element  minOccurs="0"  name="virtualAccountNum"  type="xsd:string" />
		</xsd:all>
	</xsd:complexType>
</xsd:schema>
