CoreService/US_97_ExchangeRate/CurrencyRate.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://service.bni.co.id/core/list">
	<xsd:complexType name="CurrencyRate">
		<xsd:all>
			<xsd:element minOccurs="0" name="rateType"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="buyRate"
				type="xsd:decimal">
			</xsd:element>
			<xsd:element minOccurs="0" name="sellRate"
				type="xsd:decimal">
			</xsd:element>
		</xsd:all>
	</xsd:complexType>
</xsd:schema>
