CoreService/US_73_InquiryNotionalPooling/InquiryNotionalPoolingReq.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://service.bni.co.id/core/bo">
	<xsd:complexType name="InquiryNotionalPoolingReq">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="mainAccountNo"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="currentPage"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="notPolID"
				type="xsd:string">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>