CoreService/US_63_BalanceInfo/BalanceInfoRes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://service.bni.co.id/core/bo">
	<xsd:complexType name="BalanceInfoRes">
		<xsd:all>
			<xsd:element minOccurs="0" name="customerName"
				type="xsd:string" />
			<xsd:element minOccurs="0" name="currency"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="balance"
				type="xsd:decimal" />
			<xsd:element minOccurs="0" name="status"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="accountType"
				type="xsd:string">
			</xsd:element>
		</xsd:all>
	</xsd:complexType>
</xsd:schema>
