CoreService/US_106_PassbookPrint/PassbookPrintReq.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://service.bni.co.id/core/bo">
	<xsd:complexType name="PassbookPrintReq">
		<xsd:all>
			<xsd:element minOccurs="1" name="accountNum"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="1" name="printedBalance"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="1" name="purgingFlag"
				type="xsd:string">
			</xsd:element>
		</xsd:all>
	</xsd:complexType>
</xsd:schema>
