CoreService/US_70_InitLinkCardAccount/InitLinkCardAccountReq.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://service.bni.co.id/core/bo"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:complexType name="InitLinkCardAccountReq">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="accountNum"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="cardNum"
				type="xsd:string">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>