CoreService/US_116_StopRollover/StopRolloverReq.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://service.bni.co.id/core/bo">
	<xsd:complexType name="StopRolloverReq">
		<xsd:all>
			<xsd:element minOccurs="0" name="accountNum"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="trfValue"
				type="xsd:decimal">
			</xsd:element>
			<xsd:element minOccurs="1" name="toFromCallAcc"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="mainCode"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="trfAccountNum"
				type="xsd:string">
			</xsd:element>
		</xsd:all>
	</xsd:complexType>
</xsd:schema>
